@{
    ViewBag.Title = "Acerca de kartum";
    ViewBag.Title1 = "Misión";
    ViewBag.Title2 = "Visión";
}

<h2 id="titulo">@ViewBag.Title.</h2>
<div class="mv" >
    

    <h3>@ViewBag.Message</h3>

    <h2>@ViewBag.Title1.</h2>
    <p>Kartun es una empresa que cuenta con un equipo de sólidos profesionales, con amplios conocimientos técnicos en arquitectura de interiores. Somos capaces de dar respuesta a tus más exigentes necesidades e inquietudes, en la rehabilitación y decoración de tu vivienda, oficina o local.</p>

    <h2>@ViewBag.Title2.</h2>
    <p>Kartun es una empresa que cuenta con un equipo de sólidos profesionales, con amplios conocimientos técnicos en arquitectura de interiores. Somos capaces de dar respuesta a tus más exigentes necesidades e inquietudes, en la rehabilitación y decoración de tu vivienda, oficina o local.</p>


</div>
